# Backend settings
DATABASE_URL=sqlite:///./app.db
SECRET_KEY=change_me
REDIS_URL=redis://localhost:6379/0

# GitHub OAuth (your app: LAB)
GITHUB_CLIENT_ID=Ov23liDqxPu4bjGARwC7
GITHUB_CLIENT_SECRET=6f282a5798aed4b4732fef276dbdfe8124535967

# Frontend base url for OAuth redirect
FRONTEND_URL=http://localhost:5173

# Optional: Hawk token
# HAWK_TOKEN=
