DATABASE_URL=sqlite:///./app.db
SECRET_KEY=change_me
REDIS_URL=redis://localhost:6379/0

GITHUB_CLIENT_ID=Ov23li9yR1BiGZN11BPa
GITHUB_CLIENT_SECRET=acf0124c9dcf80ac03954f7029bb27592eb75505

FRONTEND_URL=http://localhost:5173

HAWK_TOKEN=
